$white: #ffffff;
$light-200: #ffffff1a;
$grey-100: rgba(255, 255, 255, 0.5);
$grey-200: rgba(255, 255, 255, 0.15);
$black: #000000;
$dark-100: #1a1a1a;

$grey-300: #eee;
$grey-400: #999;
$grey-500: #888;
$grey-600: #666;

$accent-pink: #ffcfce;

$shadow-light: rgba(0, 0, 0, 0.1);
$shadow-medium: rgba(0, 0, 0, 0.15);
$shadow-dark: rgba(0, 0, 0, 0.5);

$white-05: rgba(255, 255, 255, 0.05);
$white-10: rgba(255, 255, 255, 0.1);
$white-40: rgba(255, 255, 255, 0.4);
$white-70: rgba(255, 255, 255, 0.7);