@font-face {
  font-family: 'Sequel';
  src: url('https://www.mgselect.co.in/etc.clientlibs/mg-select/clientlibs/clientlib-site/resources/fonts/sequel.woff2')
       format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('https://www.mgselect.co.in/etc.clientlibs/mg-select/clientlibs/clientlib-site/resources/fonts/inter.woff2')
       format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('https://www.mgselect.co.in/etc.clientlibs/mg-select/clientlibs/clientlib-site/resources/fonts/roboto.woff2')
       format('woff2');
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}