$font-family-primary: 'Inter', sans-serif !default;

$font-family-secondary: 'Roboto' !default;

$font-family-display: 'Sequel' !default;



$mobile: 768px !default;
$tablet: 1024px !default;
$desktop: 1280px !default;
$large-desktop: 1440px !default;