
$font-family-primary: 'Inter', sans-serif !default;
$font-family-secondary: 'Roboto', sans-serif !default;
$font-family-display: 'Sequel', serif !default;
$font-family-cta: 'Dienstag', $font-family-display, $font-family-primary !default;
$mobile: 768px;