@use '../abstracts/functions' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/colors' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/media-queries' as *;

.carousel-control {

  &-prev,
  &-next {
    margin-left: 70px;
    margin-right: 70px;
    width: 68px;
    height: 68px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 0;
    background: transparent;
    border: none;

    .carousel-arrow-bg {
      position: absolute;
      width: 100px;
      height: 100px;
      background: $black;
      border-radius: 50%;
      z-index: 1;
    }

    &-icon {
      z-index: 2;
      position: relative;
    }
  }
}

.experience {
  scroll-snap-align: start;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;

  &__backround {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .carousel {
    z-index: 10;
    position: relative;
    height: 100%;
    width: 100%;
  }

  .carousel-inner {
    width: 100%;
    height: 100%;
  }

  .carousel-item {
    height: 100%;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: auto;
      height: 80vh; // Adjust as needed
      max-width: 90vw;
      object-fit: contain;
      border-radius: 12px;
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    top: 50%;
    transform: translateY(-50%);
  }
}