@use '../abstracts/functions' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/colors' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/media-queries' as *;

.carousel-control {
  &-prev, &-next {
    margin-left: 70px;
    margin-right: 70px;
    width: 68px;
    height: 68px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 0;
    background: transparent;
    border: none;

    .carousel-arrow-bg {
      position: absolute;
      width: 100px;
      height: 100px;
      background: $black;
      border-radius: 50%;
      z-index: 1;
    }

    &-icon {
      z-index: 2;
      position: relative;
    }
  }
}

.experience {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;

  .carousel,
  .carousel-inner,
  .carousel-item {
    width: 100%;
    height: 100%;
  }

  .carousel-item {
    img {
      width: 100vw;
      height: 100vh;
      -o-object-fit: cover;
      object-fit: cover;
      display: block;
      margin: 0;
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    top: 50%;
    transform: translateY(-50%);
  }
}
