@use '../abstracts/functions' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/colors' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/media-queries' as *;

.experience {
  @include scroll-snap-section;
  @include size(100vw, 100vh);
  position: relative;
  overflow: hidden;

  &__background {
    @include absolute-fill;
    z-index: -1;
    @include image-cover;
  }

  &__carousel {
    z-index: 10;
    position: relative;
    @include size(100%);

    &-inner {
      @include size(100%);
    }

    &-item {
      height: 100%;
    }

    &-img {
      @include absolute-center;
      width: auto;
      height: 80vh;
      max-width: 90vw;
      @include image-contain;
      border-radius: 12px;
    }

    &-control {
      margin-left: px_to_rem(70px);
      margin-right: px_to_rem(70px);
      @include size(px_to_rem(68px));
      top: 50%;
      transform: translateY(-50%);
      @include flex-center;
      position: absolute;
      padding: 0;
      @include button-reset;
      opacity: 1;

      &--prev {
        left: 0;
      }

      &--next {
        right: 0;
      }

      &-icon {
        z-index: 2;
        position: relative;
      }
    }

    &-arrow-bg {
      position: absolute;
      @include size(px_to_rem(100px));
      background: $grey-600;
      border-radius: 50%;
      z-index: 1;
    }
  }
}