@use '../abstracts/functions' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/colors' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/media-queries' as *;

.carousel-control {

  &-prev,
  &-next {
    margin-left: 70px;
    margin-right: 70px;
    @include size(68px);
    top: 50%;
    transform: translateY(-50%);
    @include flex-center;
    position: absolute;
    padding: 0;
    @include button-reset;

    .carousel-arrow-bg {
      position: absolute;
      @include size(100px);
      background: $black;
      border-radius: 50%;
      z-index: 1;
    }

    &-icon {
      z-index: 2;
      position: relative;
    }
  }
}

.experience {
  @include scroll-snap-section;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;

  &__background {
    @include absolute-fill;
    z-index: -1;
    @include image-cover;
  }

  .carousel {
    z-index: 10;
    position: relative;
    height: 100%;
    width: 100%;
  }

  .carousel-inner {
    width: 100%;
    height: 100%;
  }

  .carousel-item {
    height: 100%;

    .experience__carousel-img {
      @include absolute-center;
      width: auto;
      height: 80vh;
      max-width: 90vw;
      @include image-contain;
      border-radius: 12px;
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    top: 50%;
    transform: translateY(-50%);
  }
}