@use '../abstracts/functions' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/colors' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/media-queries' as *;

.history {
    @include scroll-snap-section;
    background-color: $white;
    padding: px_to_rem(80px) 0;
    overflow: hidden;
    min-height: 100vh;
    @include flex-column;
    justify-content: center;

    &__heading {
        text-align: center;
        margin-bottom: px_to_rem(40px);

        &--main {
            font-family: $font-family-primary;
            font-size: px_to_rem(14px);
            @include uppercase-text;
            color: $dark-100;
            position: relative;
            display: inline-block;

            &::after {
                content: '';
                position: absolute;
                bottom: px_to_rem(-10px);
                left: 50%;
                transform: translateX(-50%);
                width: px_to_rem(60px);
                height: 1px;
                background-color: $dark-100;
            }
        }
    }

    &__wrapper {
        &--heading {
            padding: 0 px_to_rem(80px);
            margin-bottom: px_to_rem(60px);

            &-main {
                font-family: $font-family-display;
                font-size: px_to_rem(30px);
                color: $dark-100;
            }
        }

        &--content {
            position: relative;
            padding-bottom: px_to_rem(20px);
        }
    }
}

.swiper {
    width: 100%;
    padding: px_to_rem(20px) 0;
    overflow: visible;
}

.swiper-wrapper {
    align-items: center;
}

.swiper-slide {
    width: px_to_rem(220px);
    height: auto;
    @include transition;
    margin-right: px_to_rem(20px);
    @include flex-column;
    justify-content: flex-end;
    position: relative;

    .history__image {
        width: 100%;
        height: auto;
        object-fit: cover;
        display: block;
        box-shadow: 0 10px 30px $shadow-light;
    }

    .history__title {
        position: absolute;
        top: 20%;
        left: px_to_rem(15px);
        right: px_to_rem(15px);
        color: $white;
        font-family: $font-family-primary;
        font-size: px_to_rem(10px);
        font-weight: 500;
        @include uppercase-text;
        z-index: 2;
        text-shadow: 0 2px 4px $shadow-dark;

        &::before {
            content: '+ ';
        }
    }
}

.history__year {
    font-family: $font-family-display;
    font-size: px_to_rem(18px);
    color: $dark-100;
    margin-bottom: px_to_rem(10px);
    display: block;
    text-align: right;
    font-weight: 600;
}

.swiper-slide-active {
    opacity: 1;
    z-index: 10;

    .history__year {
        color: $black;
    }

    .history__image {
        box-shadow: 0 10px 30px $shadow-medium;
    }
}