@use '../abstracts/functions' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/colors' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/media-queries' as *;

.hero-sticky {
  position: relative;
}

.header {
  &__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: px_to_rem(20px) px_to_rem(40px);

    &--logo {
      height: px_to_rem(40px);
      width: px_to_rem(206px);
      display: block;
      position: relative;

      &-main {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        transition: opacity 0.25s ease;
        display: block;

        &.logo-light {
          opacity: 1;
          z-index: 2;
        }

        &.logo-dark {
          opacity: 0;
          z-index: 1;
          pointer-events: none;
        }
      }
    }

    &--hamburger {
      position: absolute;
      top: px_to_rem(20px);
      right: px_to_rem(40px);
      display: flex;
      flex-direction: column;
      gap: px_to_rem(6px);
      cursor: pointer;
      z-index: 101;
      gap: 10px;

      &1,
      &2 {
        width: px_to_rem(40px);
        height: px_to_rem(3px);
        background-color: $white;
        border-radius: px_to_rem(2px);
      }

      &2{
        width: px_to_rem(30px);
      }
    }
  }
}