* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  //found this on stackoverflow to hide scrollbar but still allow scrolling
  overflow-x: hidden;
  scrollbar-width: none; //Firefox
  -ms-overflow-style: none; //IE and Edge 

  &::-webkit-scrollbar {
    display: none; // Chrome, Safari, Opera 
  }

  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}